*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*----- navbar -----*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00eaff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
/*------------- about-website --------------*/
.about-website{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-website h1{
    font-size: 65px;
}
.about-website p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}


/* ------------gallery -----------*/

.gallery{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url(images/ksaplostra.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-gallery{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-gallery h1{
    font-size: 80px;
}
.about-gallery p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}

/*----------------- waither ----------------*/

.waither{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url(images/Waither.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-waither{
    width: 90%;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-waither h1{
    font-size: 80px;
}
.about-waither p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
/* .waither-banner h2{
    color: #000000;
    margin: 0 0 3px;
    padding: 2px;
    font: bold 13px/1.2 Verdana;
    text-align: center;
    width: 100%;
} */
.waither-banner h2 a{
    color: #000000;
    margin: 0 0 3px;
    padding: 2px;
    font: bold 13px/1.2 Verdana;
    text-align: center;
    width: 100%;
}
.waither-row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
}
.waither-banner{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}
/*----- footer -----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #00707a;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer .icons fa{
    color: rgb(0, 0, 0);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
/*------------------------------------------- PAGE DESTINATIONS -----------------------------*/

/*----- destinations -----*/
.des-header{
    height: 100vh;
    width: 100%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)),url(images/destinatios.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.des-header h1{
    margin-top: 90px;
    font-size: 50px;
}
.des-header .video{
    margin-top: 100px;
    background-color: #000000;
}

/*----- des-info -----*/
.destinations{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.destinations .info{
    flex-basis: 48%;
    padding: 30px 2px;
}
.destinations .info img{
    width: 100%;
}
.destinations h1{
    padding-top: 0;
}
.destinations p{
    padding: 15px 0 25px;
}









/*-------------for-small-screens---------- */

/* -----nav -----*/
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .about-website h1{
        font-size: 20px;
    } 
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #00eaff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*----- gallery ----*/
@media(max-width: 700px){
.about-gallery h1{
        font-size: 20px;
    }
}
/*----- waither -----*/
@media(max-width: 700px){
    .about-waither h1{ 
        font-size: 20px;
        }
    }
@media(max-width: 700px){
    .about-waither{ 
        top: 15%;
        }
    }
@media(max-width: 700px){
    .waither-row{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 700px){
    .waither-banner{
        width: 100%;
    }
}